/* ACCUEIL */
.accueil1 {
    width: 25%;
    height: 200px;
    border: 1px black solid;
  
}

.accueil-double {
    display: flex;
}

.accueil-court {
 
    margin: 50px 100px;
    width: 500px;
    height: 200px;
    border: 1px black solid;
}


.accueil-long {
    width: 75%;
    height: 150px;
    border: 1px black solid;
    margin: 100px auto;
}
/* ACCUEIL / END */
